$--primary: #222222;
$--primary-orange: #FD8558;
$--primary-white: #FFFFFF;
$--primary-white-opacity: #F7F7F7;
$--primary-black: #333333;
$--primary-gray: #CACACA;
$--primary-opacity-gray: #999999;